* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.paper { 
  background: url(./papelviejo.jpg) ;
background-repeat: no-repeat;
 background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.lista {position: absolute;
  top: 250px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
