* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.paper {
  
  width: 50vw;
  background: url(./papelviejo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top:5em;
  padding-bottom: 3em;
  height: 30vh;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttondelete {
  font-weight: bold;
  color: #b71c1c;
  background: none;
  border: #2e7d32 solid 4px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  font-size: smaller;
}

.buttonRemoveall {
  position: relative;
  bottom: -0.5em;  
  color: #2e7d32;
  background: none;
  border: #b71c1c solid 4px;
  font-size: smaller;
  margin-bottom: 1em;
}